@model App.Models.WeatherResult

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="border rounded p-4 bg-light shadow">
                @if (Model != null)
                {
                    <h2 class="text-dark">@Model.CityName</h2>
                    <h4 class="text-dark">@Model.CountryName</h4>
                    <p><strong>Temperature:</strong> @Model.Temp °K</p>
                    <p><strong>Humidity:</strong> @Model.Humidity %</p>
                    <p><strong>Wind Speed:</strong> @Model.WindSpeed m/s</p>
                    <p><strong>Cloudiness:</strong> @Model.Cloudiness %</p>
                }
                else
                {
                    <p class="text-danger font-weight-bold">No results found.</p>
                }
            </div>
        </div>
    </div>
</div>
