@model App.Models.WeatherResult

        <div class="col-10">
            <div class="border rounded p-4 bg-light shadow">
                <h1 class="text-dark">Your city weather data</h1>
                @if (Model != null)
                {
                    <h2 class="text-dark">@Model.CityName</h2>
                    <h4 class="text-dark">@Model.CountryName</h4>
                    <p><strong>Temperature:</strong> @Model.Temp °K</p>
                    <p><strong>Humidity:</strong> @Model.Humidity %</p>
                    <p><strong>Wind Speed:</strong> @Model.WindSpeed m/s</p>
                    <p><strong>Cloudiness:</strong> @Model.Cloudiness %</p>
                }
                else
                {
                    <p class="text-danger font-weight-bold">No results found.</p>
                }
            </div>
        </div>
